<script type="text/javascript">
$(document).ready(function() {
		$("#story_list ul#fresh_stories li a.showbody").each(function() {
			$(this).click(function() {
				$(this).next(".story_body").toggle();
				return false;
			});
		});
});
</script>
<!-- feed -->
<% @payload[0..5].each_with_index do |entry,index| %>
	<% body = entry.content rescue nil %>
	<% if body.nil? %>
		<% body = entry.description %>
	<% end %>
	<li>
		<select name="story[<%= index %>][slot_id]">
			<option value=""></option>
			<% @slots.each do |slot| %>
			<option value="<%= slot.id %>"><%= slot.label %></option>
			<% end %>
		</select> 
		 <input type="text" name="story[<%= index %>][title]" value="<%= entry.title %>"> <a href="#" class="showbody">&darr;</a>
		 <div class="story_body">
		 	<textarea name="story[<%= index %>][body]"><%= body %></textarea>
		 </div>
	</li>
<% end %>

