<h2 id="manage_homepage_title"><%= @homepage.title %></h2>
<h3 class="template_root"><%= SINATRA_ROOT %>/templates/<%= @homepage.title.dirify %>.erb <span class="template_reset">[<a href="/template/<%= @homepage.id %>/reset" class="destroy">reset</a>]</span></h3>

<ul class="manage_top_menu">
	<li><a href="/<%= @homepage.id %>">Manage</a></li>
	<li><a href="/homepage/<%= @homepage.id %>/preview" target="_blank">Preview</a></li>
	<li class="pubbutton"><a href="/homepage/<%= @homepage.id %>/publish">Publish</a></li>
</ul>

<div id="template_editor">
	<form method="POST" action="/template/<%= params[:hpid] %>">
	<input type="hidden" name="template[homepage]" value="<%= params[:hpid] %>">
		<textarea name="template[html]">
<%= @stock_code %>	
		</textarea>
		<br />
		<input name="commit" type="submit" value="Save" />
	</form>
</div>