<h2 id="manage_homepage_title"><%= @homepage.title %></h2>

<ul class="manage_top_menu">
	<li class="add_feed"><a href="#">Feeds</a></li>
	<li class="add_slot"><a href="#">Slots</a></li>
	<li><a href="template/<%= @homepage.id %>">Template</a></li>
	<li><a href="/homepage/<%= @homepage.id %>/preview" target="_blank">Preview</a></li>
	<li class="pubbutton"><a href="/homepage/<%= @homepage.id %>/publish">Publish</a></li>
</ul>

<div id="feeds_menu" style="clear:left;">
	<div id="feeds_submen">
		<ul class="feeds_menu">
			<form method="post" action="/hpfeed/new">
			<input type="hidden" name="homepage_feed[homepage_id]" value="<%= @homepage.id %>">
			<li>
			<% @feeds.each do |feed| %>
				<li><input type="checkbox" name="homepage_feed[feed_ids][]" value="<%= feed.id %>"> <%= feed.title %></li>
			<% end %>
			<li class="submit"><input name="commit" type="submit" value="Add" /></li>
			</form>
		</ul>
			<ul class="feeds_menu">
			<form method="post" action="/hpfeed/remove">
			<input type="hidden" name="homepage_feed[homepage_id]" value="<%= @homepage.id %>">
			<% @hpfeeds.each do |feed| %>
				<li><input type="checkbox" name="homepage_feed[feed_ids][]" value="<%= feed.id %>"> <%= feed.title %></li>
			<% end %>
			<li class="submit"><input name="commit" type="submit" value="Remove" class="destroy" /></li>
			</form>
		</ul>
	</div>
		
		<div class="slot_form">
			<ul>
			<form method="post" action="/hpslot/new">
			<input type="hidden" name="homepage_slot[homepage_id]" value="<%= @homepage.id %>">
			<li>New Slot called: <input type="text" name="homepage_slot[label]"> <input name="commit" type="submit" value="Add" /></li>
			</form>
			</ul>
		
		<ul class="feeds_menu">
			<form method="post" action="/hpslot/remove">
			<input type="hidden" name="homepage_slot[homepage_id]" value="<%= @homepage.id %>">
			<% @homepage.slots.each do |slot| %>
				<li><input type="checkbox" name="homepage_slot[slot_ids][]" value="<%= slot.id %>"> <%= slot.label %></li>
			<% end %>
			<li class="submit"><input name="commit" type="submit" value="Remove" class="destroy" /></li>
			</form>
		</ul>
		</div>
</div>

<div id="manage_body">

<div id="feed_menu">

</div>

<% if @feed_prompt %>
	<p>This homepage doesn't have any feeds yet. Add one!</p>
<% else %>
	<div id="feed_list">
		
	<ul>
		<% @hpfeeds.each do |feed| %>
			<li><a href="/feeds/<%= @homepage.id %>/<%= feed.id %>" class="<%= @homepage.id %> <%= feed.id %>">&#x267B;</a> <%= feed.title %></li>
		<% end %>
	</ul>
	</div>
	
	<div id="story_list">
	<% if @assigned_stories.length > 0 %>
	<% end %>
	<ul id="assigned_stories" <% if @assigned_stories.length > 0 %>class="assigned_active"<% end %>>
	<form method="POST" action="/homepage/<%= @homepage.id %>/rearrange">
	<!-- assigned stories injected here -->
		<% @assigned_stories.each do |slot| %>
			<li>
					<select name="story[<%= slot.story.id %>][slot_id]">
						<option value="<%= slot.id %>"><%= slot.label %></option>
						<% @slots.reject {|s| s.id == slot.id }.each do |all_slot| %>
						<option value="<%= all_slot.id %>"><%= all_slot.label %></option>
						<% end %>
						<option value=""></option><!-- blank -->
					</select> 
					 <input type="text" name="story[<%= slot.story.id %>][title]" value="<%= slot.story.title %>"> <a href="#" class="showbody">&darr;</a>
					 <div class="story_body">
						<textarea name="story[<%= slot.story.id %>][body]"><%= slot.story.body %></textarea>
					 </div>
				</li>
		<% end %>
			<% if @assigned_stories.length > 0 %><li class="submit"><input name="commit" type="submit" value="Save" /></li><% end %>
		</form>
	</ul>
	
	<div id="fresh_stories_container">
	<form method="POST" action="/story/new">
	<ul id="fresh_stories">
	<!-- fresh stories injected here -->
	<li class="submit"><input name="commit" type="submit" value="Save" /></li>
	</ul>
	</form>
	</div>
	</div>
<% end %>

</div>