<h2><%= @homepage.title %></h2>

<ul class="manage_top_menu">
	<li class="add_feed"><a href="#">Add feed</a></li>
	<li class="add_slot"><a href="#">Add slot</a></li>
	<li><a href="template/<%= @homepage.id %>">Edit Template</a></li>
	<li><a href="/homepage/<%= @homepage.id %>/preview" target="_blank">Preview Homepage</a></li>
	<li class="pubbutton"><a href="/homepage/<%= @homepage.id %>/publish">Publish Homepage</a></li>
</ul>

<div id="feeds_menu" style="clear:left;">
		<ul class="feeds_menu">
			<form method="post" action="/hpfeed/new">
			<input type="hidden" name="homepage_feed[homepage_id]" value="<%= @homepage.id %>">
			<% @feeds.each do |feed| %>
				<li><input type="checkbox" name="homepage_feed[feed_ids][]" value="<%= feed.id %>"> <%= feed.title %></li>
			<% end %>
			<input name="commit" type="submit" value="Add" />
			</form>
		</ul>
		
		<div class="slot_form">
			<form method="post" action="/hpslot/new">
			<input type="hidden" name="homepage_slot[homepage_id]" value="<%= @homepage.id %>">
			<p>Slot Label <input type="text" name="homepage_slot[label]"></p>
			<input name="commit" type="submit" value="Add" />
			</form>
		</div>
</div>

<div id="manage_body">

<div id="feed_menu">

</div>

<% if @feed_prompt %>
	<p>This homepage doesn't have any feeds yet. Add one!</p>
<% else %>
	<div id="feed_list">
		
	<ul>
		<% @hpfeeds.each do |feed| %>
			<li><a href="/feeds/<%= @homepage.id %>/<%= feed.id %>" class="<%= @homepage.id %> <%= feed.id %>">&#x267B;</a> <%= feed.title %></li>
		<% end %>
	</ul>
	</div>
	
	<div id="story_list">
	<% if @assigned_stories.length > 0 %>
		<h2>Assigned Stories</h2>
	<% end %>
	<ul id="assigned_stories" <% if @assigned_stories.length > 0 %>class="assigned_active"<% end %>>
	<!-- assigned stories injected here -->
		<% @assigned_stories.each do |slot| %>
			<li>
					<select name="story[<%= slot.story.id %>][slot_id]">
						<option value="<%= slot.id %>"><%= slot.label %></option>
						<% @slots.reject {|s| s.id == slot.id }.each do |all_slot| %>
						<option value="<%= all_slot.id %>[slot_id]"><%= all_slot.label %></option>
						<% end %>
					</select> 
					 <input type="text" name="story[<%= slot.story.id %>][title]" value="<%= slot.story.title %>"> <a href="#" class="showbody">&darr;</a>
					 <div class="story_body">
						<textarea name="story[<%= slot.story.id %>][body]"><%= slot.story.body %></textarea>
					 </div>
				</li>
		<% end %>
	</ul>
	
	<form method="POST" action="/story/new">
	<ul id="fresh_stories">
	<!-- fresh stories injected here -->
	</ul>
	<input name="commit" type="submit" value="Save" />
	</form>
	</div>
<% end %>

</div>